<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- Title Tag  -->
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="assets/nyereka.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<!-- StyleSheet -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="assets/css/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="assets/css/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.css">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="assets/css/flex-slider.min.css">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="assets/css/owl-carousel.css">
	<!-- Slicknav -->
    <link rel="stylesheet" href="assets/css/slicknav.min.css">

	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>
<header class="header shop">
		<!-- Topbar -->
<div class="header-inner" style="height:62px;">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
													<li class="active"><%= link_to "Home", root_url %></li>
													<li><%= link_to "Products", products_path %></li>
													<li><%= link_to "Flash Deals", flash_deals_index_path %>
													</li>
													<li><%= link_to "New Arrivals", new_arrivals_index_path %>
													</li>
													<li><a href="#">About Us<i class="fas fa-angle-down"></i></a>
														<ul class="dropdown">
															<li><%= link_to "Who We are", ourvission_index_path %></li>
                              								<li><%= link_to "Gallery", gallery_index_path %></li>
															<li><%= link_to "What's Else", ourmission_index_path %></li>
														</ul>
													</li>
													<li><%= link_to "Customer Support", contact_us_index_path %>
													</li>
													<li><a href="#">Others<i class="fas fa-angle-down"></i></a>
														<ul class="dropdown">
															<li><%= link_to "Tutorials", tutorials_index_path %></li>
                              <li><%= link_to "Training", training_index_path %></li>
															<li><%= link_to "Project Assistance", project_assistance_index_path %></li>
														</ul>
													</li>
												</ul>
										</div>
									</div>
									
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
		<!--/ End Header Inner -->
</header><br><br>
<div class="container" style="font-size:15px;">
<center>
      <div class="row">
        <table class="table table-bordered">
        <thead style="background-color:steelblue;color:#fff;" >
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">SubTotal</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <%= render(@cart.line_items) %>
        <tr>
            <td colspan="5"></td>
            <td id="cat">Total Price:<%= number_to_currency(@cart.total_price, :unit => "RFW") %></td>
        </tr>
        </table>
      </div>
    </center>
  <%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
      <div class="col-md-6">
        <% if user_signed_in? %>
          <div class="card">
            <div class="card-header" style="background-color: steelblue;color:#fff;">
                Personal Information
            </div>
            <div class="card-body">
              <strong>FullName</strong><p class="card-text"><%= current_user.fullname %></p>
              <strong>Email</strong><p class="card-text"><%= current_user.email %></p>
              <strong>PhoneNumber</strong><p class="card-text"><%= current_user.phonenumber %></p>
              <strong>Province</strong><p class="card-text"><%= current_user.province %></p>
              <strong>District</strong><p class="card-text"><%= current_user.district %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
          <div class="card">
            <div class="card-header" style="background-color: steelblue;color:#fff;">
                Shipping Address
            </div>
            <div class="card-body">
              <p class="card-text"><strong>Enter Province</strong>:
                <%= form.text_field :province, class:"form-control", placeholder:"Enter Shipping Province", required:"required" %></p>
              <p class="card-text"><strong>Enter District</strong>:
                <%= form.text_field :district, class:"form-control", placeholder:"Enter Shipping District", required:"required" %></p>
              <p class="card-text"><strong>Enter PhoneNumber</strong>:
                <%= form.text_field :phonenumber, class:"form-control", placeholder:"Enter Phone Number", required:"required" %></p>
            </div>
          </div>
      </div>
    </div><br>
      <div class="container" style="background:#F7941D;">
      <div class="row">
        <div class="col-md-12">
          <%= form.radio_button :pay_method, 'Contact Seller Before Pay' %> <strong style="font-size: 18px;">Contact Seller Before Pay</strong>: <selif style="color:#fff;">Our Sales Team Will Contact You In order To Proced Your Order With 1Hour In Working hours</selif><br />
          <%= form.radio_button :pay_method, 'Pay With Momo' %> <strong style="font-size: 18px;"> Pay With Momo</strong>: <selif style="color:#fff;">Pay With Our MoMo Code And Contact Our Sales Team Inorder To Ship Your Package<br /></selif>
          <%= form.radio_button :pay_method, 'Pay With Card' %> <strong style="font-size: 18px;"> Pay With Card </strong>: <selif style="color:#fff;">Under Constration<br /></selif>
        </div>
      </div>
      </div><br>
      <div class="row">
        <div class="col-md-12">
          <%= form.check_box :accept, class:"largerCheckbox" %><strong style="font-size: 25px;"> Accept</strong>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-12">
          <%= form.hidden_field :user_id, value: current_user.id %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= form.hidden_field :cart_id, :value => params[:cart_id] if params[:cart_id]%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= form.submit 'Order Now', class:"btncheckout", style:"background-color:steelblue;color:#fff;" %>
        </div>
      </div>
    </div>
<% end %>
<style type="text/css">
    .tech{
      display: none;
    }
  </style>
<style type="text/css">
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .cate{
      display: none;
    }
    .logo{
      display: none;
    }
    .my{
      margin-top: -200px;
    }
    .nyereka{
      margin-right: 100px;
      font-size: 25px;
      color: steelblue;
      float: left;
      font:weight;
      display: block;
    }
  }
</style>
<script src="assets/jquery.min.js"></script>
    <script src="assets/jquery-migrate-3.0.0.js"></script>
	<script src="assets/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="assets/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="assets/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="assets/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="assets/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="assets/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="assets/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="assets/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="assets/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="assets/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="assets/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="assets/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="assets/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="assets/easing.js"></script>
	<!-- Active JS -->
	<script src="assets/active.js"></script>
</body>
</html>