<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
 

</head>
<body>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" style="background-color:#F7941D;color:#fff;">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#" style="color:#fff;">Sales Dashboard</a>
      </div>
      <div class="sidebar-header">
        <div class="user-info">
          <span class="user-name" style="color:#fff;">
            <%= current_user.email %>
          </span>
          <span class="user-role" style="color:#fff;"><%= current_user.user_role %>Admin</span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <button value="search" type="submit"><i class="fa fa-search" aria-hidden="true" style="color:#F7941D;"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span style="color:#fff;">Extra</span>
          </li>
          <li>
              <%= link_to 'Add Product', new_product_path, style:"color:#fff;" %>
          </li>
          
           <li>
             <%= link_to 'Add Vendor', new_vendor_path, style:"color:#fff;" %>
          </li>
          
          <li>
              <%= link_to 'All Product', products_path, style:"color:#fff;" %>
          </li>
          <li>
            <%= link_to 'Manage Vendors', vendors_path, style:"color:#fff;" %>
          </li>
          <li>
            <%= link_to 'Orders', orders_path, style:"color:#fff;" %>
          </li>
          <li>
            <%= link_to 'Categories', categories_path, style:"color:#fff;" %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, style:"color:#fff;" %>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container">
      <center>
        <p style="text-align:center;">Register Vendor</p>
      <div class="row">
        <%= form_with(model: vendor, local: true) do |form| %>
        <% if vendor.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>
      
            <ul>
            <% vendor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
         <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :business_name %>
            <%= form.text_field :business_name, class:"form-control", placeholder:"Enter business Name" %>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :business_email %>
            <%= form.text_field :business_email, class:"form-control", placeholder:"Enter business Email" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.label :business_address %>
            <%= form.text_field :business_address, class:"form-control", placeholder:"Enter Bussiness Address" %>
          </div>
          <div class="form-group col-md-6">
            <%= form.label :product_id %>
            <%= form.text_field :product_id, class:"form-control", placeholder:"Your Product Name" %>
          </div>
        </div>
        <%= form.submit class:"btn btn-primary" %>
        <% end %>
        <form>
      </div>
      </center>
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>