<%= form_with(model: sub_sub_category, local: true) do |form| %>
  <% if sub_sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_sub_category.errors.count, "error") %> prohibited this sub_sub_category from being saved:</h2>

      <ul>
      <% sub_sub_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose Category" } %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.collection_select :product_id, Product.all, :id, :product_name, {prompt: "Choose Product" } %>
  </div>

  <div class="field">
    <%= form.label :sub_category_id %>
    <%= form.collection_select :sub_category_id, SubCategory.all, :id, :name, {prompt: "Choose SubCategory" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
