<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_sub_category.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sub_sub_category.category %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sub_sub_category.product %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @sub_sub_category.sub_category %>
</p>

<%= link_to 'Edit', edit_sub_sub_category_path(@sub_sub_category) %> |
<%= link_to 'Back', sub_sub_categories_path %>
